/* Basic Clean Website Design by Luke Mitchell */

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

body {
    background-color: #F5FBA8;
    font-family: 'Open Sans', sans-serif;
}

#container {
	min-height: 100%;
	position: relative;
    width: 80%;
    margin: 0 auto;
}

/* Ensure container stretches to fit float */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */

/* Page header */

#header {
	clear: both;
	display: block;
}

/* Navigation */

#site-title {
	float: left;
	text-align: left;
	font-family: 'Indie Flower', cursive;
}

#site-title a {
	text-decoration: none;
	color: black;
}

#nav {
	float: right;
	text-align: right;
}

#nav ul {
	float: right;
	list-style: none;
	list-style-type: none;
	padding-left: 0;
}

#nav ul li {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	display: inline-block;
	font-size: 18px;
}

#nav ul li a {
	text-decoration: none;
	color: #000000;
}

#nav ul li a:hover {
	font-weight: bold;
	color: #4E5400;
}

/* Content */

#content {
	padding: 15px;
	padding-bottom: 30px;
	background-color: #9FA838;
	clear: both;
}

#you-are-here {
	display: block;
}

/* Footer */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #F5FBA8;
}

/* Some easy-to-use classes */

#page-text .bold {
	font-weight: bold;
}

#page-text .underline {
	text-decoration: underline;
}

#page-text .italic {
	font-style: italic;
}

#page-text .left,
#page-text .left-clear,
#page-text .right,
#page-text .right-clear {
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid;
}

#page-text .pad-left {
	margin-right: 10px;
}

#page-text .pad-right {
	margin-left: 10px;
}

#page-text .left {
	float: left;
}

#page-text .left-clear {
	float: left;
	clear: left; 
}

#page-text .right {
	float: right;
}

#page-text .right-clear {
	float: right;
	clear: right;
}

#page-text .span {
	width: 100%;
	text-align: center;	
}

/* Sizes for floats */

#page-text .small {
	width: 20%;
}

#page-text .medium {
	width: 30%;
}

#page-text .large {
	width: 40%;
}

#page-text .xlarge {
	width: 50%;
}

/* Sizes for gallery */

#page-text .quarter {
	width: 24%;
}

#page-text .half {
	width: 49%;
}

#page-text .3quarter {
	width: 74%;
}

#page-text .whole {
	width: 100%;
}
